* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
}
body {
  background: $darkblue-color;
}
// background
.screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.left-top-bg {
  position: fixed;
  width: 775.13px;
  height: 775.13px;
  left: -387.13px;
  top: -388px;
  background: $lightblue-color;
  border-radius: 50%;
  z-index: -100;
}
.left-bottom-bg {
  position: fixed;
  width: 468.93px;
  height: 468.93px;
  left: -193.97px;
  top: 618.5px;
  background: $lightblue-color;
  border-radius: 50%;
  z-index: -100;
}

.right-bottom-bg {
  /* Vector 1 */
  position: fixed;
  width: 588.19px;
  height: 569.5px;
  right: 0;
  bottom: 0;
  z-index: -100;
  // background: #274FC7;
}
