// login header
.login-header {
  text-align: center;
  color: #ffffff;

  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
  }
  p {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
  }
}

//  inputs google autofill styling
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 1px solid $green-color;
  -webkit-text-fill-color: $green-color;
  box-shadow: 0 0 0px 1000px $darkblue-color inset;
  -webkit-box-shadow: 0 0 0px 1000px $darkblue-color inset;
  transition: background-color 5000s ease-in-out 0s;
}

// inputs and buttons
.login {
  width: 433px;
  height: 377px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center !important;

  .inputs-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  input,
  button {
    width: 433px;
    height: 50px;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    font-style: normal;
  }
  input {
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 0 2.5rem;
    color: #ffffff;
  }

  input::placeholder {
    color: #ffffff;
  }
  // input icons styling
  .email-container,
  .pass-container {
    position: relative;
    .fa-user,
    .fa-key {
      position: absolute;
      color: #ffffff;
      font-size: 19px;
      left: 10px;
      top: 30%;
    }
  }
  // btn
  button {
    @include green-btn;
  }
  button:hover {
    cursor: pointer;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
  // btn aniimation
  button:before {
    content: "";
    position: absolute;
    background: $lightblue-color;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    border-radius: 10px;
    transition: top 0.09s ease-in;
  }

  button:hover:before {
    top: 0;
  }
}
