@media (max-width: 500px) {
  .login header p {
    font-size: 1em !important;
  }
  input,
  button {
    width: 350px !important;
  }
  .greeting h1 {
    text-align: center;
    font-size: 1.7em !important;
  }
}
